@import "colors";
@import "animations";
@import "fonts";
@import "mixins";
@import "overrides";
@import "grid";
@import "responsive";


body {
    font-family: 'PT Sans Narrow', sans-serif;

    .title {
        width:100%;
        text-align:center;
        text-transform:uppercase;
        letter-spacing:5px;
        margin-bottom:10px;
    }

    .subtitle {
        width:100%;
        text-align:center;
        margin:7px;

        .datepicker {
            @extend %hand;
            @extend %noselect;
            color:$blue;

            .fa-chevron-down {
                font-size:50%;
                height:24px;
                position:relative;
                top:-3px;
            }
        }
    }

    .container {
        width:100%;
        max-width:800px;
        margin:auto;
        position:relative;

        .tv {
            width:100%;
            position:absolute;
            z-index:2;
        }

        .reel {
            position:absolute;
            top:3vh;
            left:4%;
            width:75%;
        }
    }

    .reel-meta {
        width:85%;
        margin:auto;

        .reel-title {
            width:100%;
            text-align:center;
            font-weight:bold;
            font-size:22pt;

            .dots-animate {
                position:absolute;
                letter-spacing:2px;
            }
        }
        .reel-description {
            width:100%;
            margin:20px auto;
            text-align:center;
        }
    }

    .about {
        width:85%;
        margin:150px auto 10px auto;

        .about-title {
            width:100%;
            font-weight:bold;
            font-size:22pt;
            text-align:center;
        }

        .about-text {
            text-align:center;
        }
    }

    .picker-dropdown {
        width:220px;
        height:80px;

        position:absolute;
        left:50%;
        margin-left:-85px;

        border-radius:3px;
        @include vendor-prefix("box-shadow", "0 0 6px 3px rgba(52,152,219, 0.6)");

        background-color:white;

        z-index:4;

        .notch {
            color:white;
            display:inline-block;
            position:absolute;
            transform: scaleX(1.75);
            text-shadow: 0 -3px 3px rgba(52,152,219, 0.8);
            margin-left:103px;
            margin-top:-18px;
            z-index:5;
        }
    }
}
